# Ficheiros e pastas de cache/log da aplicação
cache.db
app.log
app_state.json

# Pastas de cache do Python
__pycache__/
*.pyc

# Pastas de compilação do PyInstaller
build/
dist/
*.spec

# Configuração de IDEs
.vs/
.vscode/
.idea/